<h1>Welcome to SimpleVis | <%= link_to "Datasets", datasets_path %> </h1>

<div id="mapid">
</div>

<div style="margin:10px">
  <% @datasets.each do |dataset| %>
    <%= link_to dataset.name, "#", id: dataset.id, class: "btn-load-dataset" %>
  <% end %>
</div>
