<!DOCTYPE html>
<html>
<head>
  <title>Simplevis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <%= javascript_include_tag 'application' %>
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
